.claude
ui-layer/node_modules/*
ui-layer/src-tauri/binaries
ui-layer/src-tauri/icons
ui-layer/src-tauri/target
core-rust/target/*
grimdb/*.exe
grimdb/*.dll
grimdb/*.pdb
grimdb/*.cache
dist
*.log
*.tmp
*.bak
*.obj
*.o
*.so
*.dylib
*.pyc
